body {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

h1,
h2 {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    font-weight: 900;
}

/* Containers */

.container-fluid {
    padding: 3% 10%;
}

/* Sections */

.colored-section {
    background-color: #065b7d;
    color: #fff;
}

.white-section {
    background-color: #fff;
    color: #112B3C;
}

/* Navigation Bar */

.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2rem;
    font-weight: 400;
    padding-left: 2rem;
}


.nav-item {
    padding: 0 1rem;
    background-color: #065b7d;

}

.nav-link {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size: 1.2rem;

}

.nav-link:hover {
    font-size: 1.5rem;
}

.navbar {
    height: 6rem;
    background-color: #065b7d;
    width: 100%;

}

/* Slider */

#slider {
    background-color: #000000;
    color: #fff;
    padding-top: 2rem;
}

.carousel-item {
    padding: 8% 16%;
}

.slider-text {
    font-size: 3rem;
    line-height: 1.5;
}

.slider-img img {
    width: 75%;
    min-width: 300px;
    height: auto;
    padding-bottom: 1rem;
}

/* Titles */

#titles {
    padding: 8% 10%;
}

#titles img {
    width: 100%;
    min-width: 200px;
    height: auto;
    padding-bottom: 1rem;
}

/* Pilllars */

#pillars {
    padding: 8% 10%;
}

#pillars .row i:hover {
    color: #112B3C;
}

/* Footer */

#footer {
    padding: 8% 16%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../imgs/footer.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    
}

.footer-text {
    color: white;
}

.social-icon {
    padding: 0 1rem 1.5rem;
    color: white;

}

.social-icon:hover {
    color: #065b7d;
}